<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;div style=&quot;text-align: justify;&quot;&gt;&lt;img alt=&quot;&quot; src=&quot;https://lingwu.wantsv.com/uploadfile/2018/0723/20180723032130186.jpg&quot; /&gt;&lt;/div&gt;
&lt;div style=&quot;text-align: justify;&quot;&gt;&lt;strong&gt;&lt;u&gt;中国古代的&amp;ldquo;阴阳互补&amp;rdquo;观念直接来源于对夫妻生活的认识。阴阳互补的观念到了今天，根据现代生活科学和人文文化的发展，还孕育了哪些新的互补观念。&lt;/u&gt;&lt;/strong&gt;&lt;br /&gt;
&amp;nbsp;&lt;/div&gt;
&lt;div style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;color:#b22222;&quot;&gt;&lt;strong&gt;有人说&amp;ldquo;生命在于运动&amp;rdquo;；有人主张&amp;ldquo;生命在于静止&amp;rdquo;。&lt;/strong&gt;&lt;/span&gt;&lt;br /&gt;
&amp;nbsp;&lt;/div&gt;
&lt;div style=&quot;text-align: justify;&quot;&gt;前者可说是运动保健论者，后者可说是静止保健论者，这两种认识都不全面。&lt;br /&gt;
&amp;nbsp;&lt;/div&gt;
&lt;div style=&quot;text-align: justify;&quot;&gt;生命是运动和静止的统一。运动和静止，哪种方式对身体健康更有益是有条件的，关键在于这两种方式要互补，不要&amp;ldquo;互斥&amp;rdquo;。&lt;br /&gt;
&amp;nbsp;&lt;/div&gt;
&lt;div style=&quot;text-align: justify;&quot;&gt;运动保健论者，认为人的运动量大了，消耗体内的营养成分多了，如蛋白质、脂肪、糖类等等，就不会得高血压、糖尿病、高血脂等疾病，身体结实，精力充沛，像运动员，不但长寿，长得还帅气。&lt;br /&gt;
&amp;nbsp;&lt;/div&gt;
&lt;div style=&quot;text-align: justify;&quot;&gt;静止保健论者说，不对！运动员长寿者不多，恰恰是那些注意休息、保养的人，能够长寿。他们体能不透支，疾病少，睡眠充足，知足常乐，不争什么&amp;ldquo;冠军&amp;rdquo;、心态平和，更容易长寿。&lt;br /&gt;
&amp;nbsp;&lt;/div&gt;
&lt;div style=&quot;text-align: justify;&quot;&gt;仔细分析一下&amp;ldquo;老寿星&amp;rdquo;就会发现，他们不可能是运动保健论者，也不可能是静止保健论者，而是将运动和静止结合得好、互补得好的一些人。&lt;br /&gt;
&amp;nbsp;&lt;/div&gt;
&lt;div style=&quot;text-align: justify;&quot;&gt;为了健康，有人主张&amp;ldquo;生活要有规律&amp;rdquo;；也有人主张不要太有规律，要有意识打乱生活节奏。生活杂乱无章会使人体的各项功能发生紊乱，自然有害健康。&lt;br /&gt;
&amp;nbsp;&lt;/div&gt;
&lt;div style=&quot;text-align: justify;&quot;&gt;但过分强调规律有什么好处呢？值得我们深思。&lt;br /&gt;
&amp;nbsp;&lt;/div&gt;
&lt;div style=&quot;text-align: justify;&quot;&gt;一个老年人，每天早上出外散步，风雨不断，坚持得不错，不仅自己感觉良好，别人也为他的坚持锻炼受到鼓舞，但一次不小心一脚踏空，受伤住院，从此早上再不能散步。因为生活规律突然改变，他身体的各部分很不适应，患上大病。&lt;br /&gt;
&amp;nbsp;&lt;/div&gt;
&lt;div style=&quot;text-align: justify;&quot;&gt;这就是说，&lt;span style=&quot;color:#b22222;&quot;&gt;&lt;strong&gt;生活有规律和无规律要结合起来&lt;/strong&gt;&lt;/span&gt;，不能过分强调哪一面。该规律时讲究规律，因为特殊原因无法规律，我们也能闯过去。&lt;span style=&quot;color:#b22222;&quot;&gt;&lt;strong&gt;过久了有规律的生活，有必要改变一下生活方式，以免过于单调重复。&lt;/strong&gt;&lt;/span&gt;&lt;br /&gt;
&amp;nbsp;&lt;/div&gt;
&lt;div style=&quot;text-align: justify;&quot;&gt;家庭生活中的互补，主要是夫妻关系的互补。&lt;br /&gt;
&amp;nbsp;&lt;/div&gt;
&lt;div style=&quot;text-align: justify;&quot;&gt;&lt;img alt=&quot;&quot; src=&quot;https://lingwu.wantsv.com/uploadfile/2018/0723/20180723032205195.jpg&quot; style=&quot;center&quot; /&gt;&lt;br /&gt;
&amp;nbsp;&lt;/div&gt;
&lt;div style=&quot;text-align: justify;&quot;&gt;丈夫提供给妻子的，除了爱，还有生活费用来源、在社会上的地位、在教育子女和孝敬长辈上的&amp;ldquo;协同&amp;rdquo;等等。&lt;br /&gt;
&amp;nbsp;&lt;/div&gt;
&lt;div style=&quot;text-align: justify;&quot;&gt;如果夫妻都是&amp;ldquo;事业型&amp;rdquo;的，那还有在事业上的相互支持。妻子给予丈夫的，除了共同需要，重点是对于家务的操持，相当于家庭的&amp;ldquo;内阁总理大臣&amp;rdquo;。&lt;br /&gt;
&amp;nbsp;&lt;/div&gt;
&lt;div style=&quot;text-align: justify;&quot;&gt;这里指的是一般情况，还有一些例外，比如有的男士愿意在家里做家务主管。夫妻间的不同分工，取决于这个家庭的各种具体条件的不同。&lt;br /&gt;
&amp;nbsp;&lt;/div&gt;
&lt;div style=&quot;text-align: justify;&quot;&gt;只要对这些条件进行客观的分析，就能找出夫妻分工合理的、或者说最佳的模式。&lt;br /&gt;
&amp;nbsp;&lt;/div&gt;
&lt;div style=&quot;text-align: justify;&quot;&gt;合理分工造成你离不开我，我离不开你，或者说你成为我提高生活质量的绝对性条件，我成为你提高生活质量的绝对性条件。&lt;br /&gt;
&amp;nbsp;&lt;/div&gt;
&lt;div style=&quot;text-align: justify;&quot;&gt;在这种情况下夫妻间依赖性越强，这个家庭就越是稳固。夫妻分工不同才能&amp;ldquo;和&amp;rdquo;，角色混乱不清，缺乏必要的合理分工，夫妻间就会矛盾不断，家庭难以和谐。&lt;br /&gt;
&amp;nbsp;&lt;/div&gt;
&lt;div style=&quot;text-align: justify;&quot;&gt;无论是怎样的阴阳互补，就是在追求&amp;ldquo;男女搭配干活不累&amp;rdquo;的效果。&lt;br /&gt;
&amp;nbsp;&lt;/div&gt;
&lt;div style=&quot;text-align: justify;&quot;&gt;男女每一个个体本身都是阴阳圆满无缺的，他们的结合是在自己圆满的同时，&lt;span style=&quot;color:#b22222;&quot;&gt;&lt;strong&gt;提供给对方相互依赖的支持，再度联接为更大的、和谐平衡的圆满。&lt;/strong&gt;&lt;/span&gt;&lt;br /&gt;
&amp;nbsp;&lt;/div&gt;
&lt;div style=&quot;text-align: justify;&quot;&gt;阴阳互补关系就是可以完全地包容对方却不会失去自己，这就是完美关系的表达。&lt;/div&gt;
</string>
</dict>
</plist>
